@model SNMPDemo.Models.Device

<h4>Basic controls</h4>
<p>
    @using (Html.BeginForm())
    {
        <input type="button" value="Turn On" class="btn btn-default" name="btn" onclick="Turn('@ViewBag.IP', '@ViewBag.CommunityString', 'On')" />
        <input type="button" value="Turn Off" class="btn btn-default" name="btn" onclick="Turn('@ViewBag.IP', '@ViewBag.CommunityString', 'Off')" />
    }
</p>