@model IEnumerable<SNMPDemo.Models.Device>

@{
    ViewBag.Title = "Home Page";
}

<!-- jQuery UI CSS & JS -->
@Scripts.Render("~/Scripts/jquery-ui.min-1.11.1.js")
@Styles.Render("~/Content/themes/base/all.css")

<div class="page-header">
    <h1>Devices</h1>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => item.IpAddress)</h3>
                </div>
                <div class="panel-body">
                    <h4>Basic controls</h4>
                    <p>
                        <button type="button" class="btn btn-default">Turn On</button>
                        <button type="button" class="btn btn-default">Turn Off</button>
                    </p>
                    <h4>Temperature timer</h4>
                    <p>
                        <input type="text" class="ui-datepicker" />
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <p>Date: <input type="text" id="datepicker"></p>

            <script>
                $(function () {
                    $("#datepicker").datepicker();
                });
            </script>
        </div>
    </div>
</div>