@model IEnumerable<SNMPDemo.Models.Device>

@{
    ViewBag.Title = "Home Page";
}

<!-- jQuery UI CSS & JS -->
@*@Scripts.Render("~/Scripts/jquery-ui.min-1.11.1.js")*@

<script type="text/javascript">
    function TurnOn(Ip, CommunityString) {
        var details = { "Ip": Ip, "CommunityString": CommunityString }
        $.ajax({
            type: "post",
            url: '@Url.Action("_BasicControls", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(details),
            success: function () {
                //alert('success');
            },
            error: function () {
                //alert('failure');
            }
        });
    }
</script>

@Styles.Render("~/Content/themes/base/all.css")

<div class="page-header">
    <h1>Devices</h1>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => item.IpAddress) @if (item.Description != null) { <text> - </text> @item.Description }</h3>
                </div>
                <div class="panel-body">
                    @{Html.RenderAction("_BasicControls", "Home",  new { device = new SNMPDemo.Models.Device { ID=item.ID, IpAddress=item.IpAddress, Description=item.Description, CommunityString=item.CommunityString}});}
                    <br />
                    <h4>Temperature timer</h4>
                    <p>
                        <input type="text" class="ui-datepicker" />
                    </p>
                </div>
            </div>
        </div>
    </div>
}